@import url('https://fonts.googleapis.com/css?family=Ewert|Montez');

.wine-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
}
.wine {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.wine-image {
    width: 60vw;
    height: auto;
}

.wine-name {
    font-size: 3rem;
    font-family: 'Montez', cursive;
}
.wine-price {
    font-size: 2rem;
    font-family: 'Ewert', cursive;
    color: black;
}