@import './Normalize.css';

ul {
    list-style-type: none;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
}

span {
    color: white;
}

body {
    background-color: rgb(75, 74, 74);
}

h1 {
    color: white;
}